./cogs/__pycache__/*.pyc
db/.google-cookie
db/serverdata.db
token.0
.gitignore
DB Browser for SQLite/api-ms-win-core-console-l1-1-0.dll
*.dll
*.exe
DB Browser for SQLite/licenses/LICENSE
DB Browser for SQLite/licenses/LICENSE-PLUGINS
*.qm
